[project]
	description = Simple node module which download and store rendered pages of single page applications for SEO
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Darko Lukić (lukicdarkoo)
[access "refs/for/refs/*"]
	read = group user/Darko Lukić (lukicdarkoo)
	push = group user/Darko Lukić (lukicdarkoo)
	label-Code-Review = -2..+2 group user/Darko Lukić (lukicdarkoo)
	label-Verified = -1..+1 group user/Darko Lukić (lukicdarkoo)
	rebase = group user/Darko Lukić (lukicdarkoo)
	removeReviewer = group user/Darko Lukić (lukicdarkoo)
	submit = group user/Darko Lukić (lukicdarkoo)
[access "refs/heads/*"]
	read = group user/Darko Lukić (lukicdarkoo)
	create = group user/Darko Lukić (lukicdarkoo)
	push = +force group user/Darko Lukić (lukicdarkoo)
	pushMerge = group user/Darko Lukić (lukicdarkoo)
[access "refs/tags/*"]
	push = +force group user/Darko Lukić (lukicdarkoo)
	pushTag = group user/Darko Lukić (lukicdarkoo)
	pushSignedTag = group user/Darko Lukić (lukicdarkoo)
